<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Exmo page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-th-href="@{/}">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/exchanges}">Биржи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/arbitration}">Арбитраж</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/samePairs}">Пары на биржах</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Аккаунт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-exmo-tab" data-toggle="pill" data-th-href="@{/exmo}"
                           role="tab"
                           aria-controls="v-pills-exmo" aria-selected="true">Exmo</a>
                        <a class="nav-link" id="v-pills-binance-tab" data-toggle="pill" data-th-href="@{/poloniex}"
                           role="tab" aria-controls="v-pills-poloniex" aria-selected="false">Poloniex</a>
                        <a class="nav-link" id="v-pills-bitfinex-tab" data-toggle="pill" data-th-href="@{/bitfinex}"
                           role="tab" aria-controls="v-pills-bitfinex" aria-selected="false">Bitfinex</a>
                        <a class="nav-link" id="v-pills-livecoin-tab" data-toggle="pill"
                           data-th-href="@{/livecoin}" role="tab" aria-controls="v-pills-livecoin"
                           aria-selected="false">LiveCoin</a>
                        <a class="nav-link" id="v-pills-yobit-tab" data-toggle="pill" data-th-href="@{/yobit}"
                           role="tab" aria-controls="v-pills-yobit" aria-selected="false">YoBit</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-exmo" role="tabpanel"
                             aria-labelledby="v-pills-home-exmo">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th scope="row">id</th>
                                    <th scope="row">Пара</th>
                                    <th scope="row">Покупка</th>
                                    <th scope="row">Продажа</th>
                                    <th scope="row">Последняя сделка</th>
                                    <th scope="row">Max 24h</th>
                                    <th scope="row">Min 24h</th>
                                    <th scope="row">Средняя цена 24h</th>
                                    <th scope="row">Объём 24h</th>
                                    <th scope="row">Сумма сделок 24h</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="t:${ticker}">
                                    <td>[[ ${t.getId()} ]]</td>
                                    <td>[[ ${t.getPairName()} ]]</td>
                                    <td>[[ ${t.getBuyPrice()} ]]</td>
                                    <td>[[ ${t.getSellPrice()} ]]</td>
                                    <td>[[ ${t.getLastTrade()} ]]</td>
                                    <td>[[ ${t.getHigh()} ]]</td>
                                    <td>[[ ${t.getLow()} ]]</td>
                                    <td>[[ ${t.getAvg()} ]]</td>
                                    <td>[[ ${t.getVol()} ]]</td>
                                    <td>[[ ${t.getVol_curr()} ]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <form data-th-action="@{/exmo}" method="post">
                                <button>Обновить данные</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="v-pills-poloniex" role="tabpanel"
                             aria-labelledby="v-pills-profile-poloniex">ue
                        </div>
                        <div class="tab-pane fade" id="v-pills-bitfinex" role="tabpanel"
                             aria-labelledby="v-pills-messages-bitfinex">...
                        </div>
                        <div class="tab-pane fade" id="v-pills-livecoin" role="tabpanel"
                             aria-labelledby="v-pills-settings-livecoin">
                        </div>
                        <div class="tab-pane fade" id="v-pills-yobit" role="tabpanel"
                             aria-labelledby="v-pills-settings-yobit">...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>